@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  aside > ul {
    max-height: 800px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-scrollbar: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: none;
  }
  

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme("colors.indigo.500") 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  .figure-small::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right bottom,
      theme("colors.indigo.300"),
      theme("colors.blue.400")
    );
    opacity: 0.4;
  }

  .figure-large::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right bottom,
      theme("colors.indigo.300"),
      theme("colors.blue.400")
    );
    opacity: 0.6;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
